@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");



/* Chasquido */
#cf {
	position:relative;
	height:250px;
	width:300px;
	margin:0 auto;
  }
  
#cf img {
	position:absolute;
	left:0;
	opacity: 1;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
    border-radius: 3%;
}
  
#cf img.top:hover {
	opacity:0;
}

body {
    text-align: center;
    color: white;
    font-family: -webkit-pictograph;
    
}

#main {
    text-align: center;
    background-color: white;
    color: black;
    font-family: sans-serif;
    padding-top: 7px;
    padding-bottom: 25px;
}

#descripcion {
    font-style: italic;
}

.texto {
    border: 1px solid black;
}

ul,li {
    list-style-type: none;
}
    



.button-know {
    background: red;
    color: black;
    text-decoration: none;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 12px;
    font-size: 15px;
    transition-duration: 0.4s;
}

    .button-know:hover {
    background-color: red;
    color: yellow;
    box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

#header {
	text-align: center;
	background-image: url("images/overlay.png"), url("../../images/header22.jpg");
	background-position: top center,							center center;
	background-repeat: repeat,								no-repeat;
	height: 55px;
   	overflow: auto;
   	color: red;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: italic;
	-webkit-text-stroke-width: 0.4px;
  	-webkit-text-stroke-color: yellow;  
}

    .who {
        font-style: normal;
        font-family: Impact;
        letter-spacing: 1.2px;
    }

#footer {
    padding-top: 10px;
    text-align: center;
}

/* XLarge */

@media screen and (max-width: 2500px) {

    /* Basic */

        body {
            font-size: 15pt;
        }

}

/* Small */

@media screen and (max-width: 720px) {

    /* Barra */

        a.logo-izq {
            display: none;
        }
    
    /* Basic */

        h1 {
            font-size: 1.5em;
        }

        h2 {
            font-size: 1.2em;
        }

        p.texto {
            font-size: 0.9em;
        }

    /* Header */

        #header {
            font-size: 1em;
        }

    /* Footer */

        #footer {
            padding: 1.25em;
        }

    /* Main */

        #main {
            padding: 0.5em 0 1em;
        }

}

/* XSmall */

@media screen and (max-width: 650px) {

    /* Barra */

        a.logo-izq {
            display: none;
        }

        a.logo-der {
            display: none;
        }
    
    /* Basic */

        h1 {
            font-size: 1.5em;
        }

        h2 {
            font-size: 1.2em;
        }

        p.texto {
            font-size: 0.9em;
        }

    /* Header */

        #header {
            font-size: 1em;
        }

    /* Footer */

        #footer {
            padding: 1.25em;
            font-size: 0.8em;
        }

    /* Main */

        #main {
            padding: 0.5em 0 1em;
        }

}

/* Mini Large */

@media screen and (max-width: 420px) {

    /* Barra */

        a.logo-izq {
            display: none;
        }

        a.logo-der {
            display: none;
        }
    
    /* Basic */

        h2 {
            font-size: 1.2em;
        }

        p.texto {
            font-size: 0.8em;
        }

    /* Header */

        #header {
            display: none;
        }

    /* Footer */

        #footer {
            padding: 1.25em;
        }

    /* Main */

        #main {
            padding: 0.5em 0 1em;
        }

}

/* Mini Small */

@media screen and (max-width: 400px) {

    /* Barra */

        a.logo-izq {
            display: none;
        }

        a.logo-der {
            display: none;
        }

        a.logo-med {
            display: none;
        }

        .barra {
            background-image: url(../../images/mini.png);
            background-repeat: no-repeat;
            background-position: center;
            padding: 3.5em;
        }
    
    /* Basic */

        h2 {
            font-size: 1.2em;
        }

        p.texto {
            font-size: 0.8em;
        }

    /* Header */

        #header {
            display: none;
        }

    /* Footer */

        #footer {
            padding: 1.25em;
        }

    /* Main */

        #main {
            padding: 0.5em 0 1em;
        }

}